.logo-img {
    padding: 20% 0% 20% 0%;
    text-align: left;
}

h1,
h2,
h3,
h4,
p {
    color: #fff;
}

.container,
body {
    background-color: #000;
}

p {
    width: 322px;
    margin: auto;
}

.container,
header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

header {
    width: 100%;
}

.container {
    justify-content: center;
}

footer {
    width: 100%;
    align-content: center;
    padding: 5px 0 5px 0;
}

.logo {
    width: 25%;
}

.heading {
    width: 75%;
}

.hr-row {
    border-top: 1px solid #fff;
}

.heading {
    margin-top: auto;
    text-align: right;
    padding-bottom: 2%;
}

.project1,
.project2,
.project3,
.hr-row,
.main-pic,
.related-works {
    width: 100%;
    padding: 10px 10px 20px 10px;
}

.project1,
.project2,
.project3,
.main-pic {
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .project1,
    .project2,
    .project3 {
        width: 33%;
        margin: 0 auto 0 auto;
    }
    .logo-img {
        width: auto;
    }
}

@media screen and (min-width: 800px) and (max-width:1199px) {
    .project1,
    .project2 {
        margin: auto;
        width: 50%;
    }
    .project3 {
        width: 100;
    }
}

@media screen and (max-width: 450px) {
    .logo-img {
        width: 100px;
    }
    h1,
    h3 {
        font-size: 1em;
    }
}
